<%= form_with(model: @task, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p id="task_title">タスク名 <%= form.text_field :title %></p>
    <p id="task_content">タスク詳細 <%= form.text_field :content %></p>

  <%= form.submit value: "登録する" %>
<% end %>
<%= link_to "タスク一覧画面にもどる", tasks_path %>