<%= form_with(model: @task, local: true ) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('view.error_sum') %></h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
  <div class="form-group">

  <div class="task_new">
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :deadline %>
  <%= f.text_field :deadline, class: "form-control datepicker" %></p>
  <%= f.label :status %>
  <%= f.select :status, ["未着手", "着手中", "完了"], {} %>
  <%= f.label :priority %>
  <%= f.select :priority, {高: "高", 中: "中", 低: "低"}, {} %>
  <%= f.submit "登録する。"  %>
  </div>
  </div>
  </form>
<% end %>