<h3><%= t('view.confirm_confirm') %></h3>

<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p><%= t('view.titlw') %><%= @task.title %></p>
  <p><%= t('view.content') %><%= @task.content %></p>
  <%= form.submit t('view.submit') %>
<% end %>