<h3><%= t('view.confirm_confirm') %></h3>

<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :deadline %>

  <p><%= t('view.titlw') %><%= @task.title %></p>
  <p><%= t('view.content') %><%= @task.content %></p>
  <p><%= t('view.deadline') %><%= @task.deadline %></p>

  <%= form.submit t('view.submit') %>
<% end %>