<p><%= notice %></p>
<table class="table table-hover">
  <tr>
    <th>Task</th>
    <th>Content</th>
    <th>Deadline</th>
    <th>Status</th>
    <th>Priority</th>
  </tr>

<% @user.tasks.each do |ktask| %>
  <tr class="Task_content">
    <td><%= ktask.title %></td>
    <td><%= ktask.content %></td>
    <td><%= ktask.deadline %></td>
    <td><%= ktask.status %></td>
    <td><%= ktask.priority %></td>
  </tr>
<% end %>
</table>